.cardContainer{
    background-color: white;
    box-shadow: 0 0 8px rgb(220, 220, 220);
    height: fit-content;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
.cardImage{
    width: 100%;
    display: block;
}
.cardText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.cardText ul{
    list-style-type: none;
    font-size: 0.75rem;
}