.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 20px 5%;
    box-shadow: 0 1px 8px rgb(228, 228, 228);
    background-color: white;
}
.darkModeButton{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.darkModeButton:hover{
    opacity: 0.5;
}
.darkModeHeader{
    background-color: blue;
}